div {
    display: flex;
}

.background-image {
    background-image: url("../../static/images/background-index.jpeg");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: auto 50%;
    background-position: center;
    z-index: -1;
}
.background-blur-image::before{
    background-image: url("../../static/images/background-index.jpeg");
    background-repeat: no-repeat;
    position: fixed;
    left: 0;
    top: 0;
    content: " ";
    width: 100%;
    height: 100vh;
    background-size: cover;
    filter: blur(10px);
    z-index: -1;
}
.nav a {
    width: 50%;
    text-align: center;
    font-size: 50px;
}
#form-login input {
    width: 100%;
    height: 50px;
    margin: 20px;
    border-radius: 20px;
    border: none;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    color: #fff;
}
#form-login button[type="submit"] {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    border: none;
}

#form-signup {
    width: 100%;
}
#form-signup label {
    width: 300px;
}
#form-signup input,
#form-signup select {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: none;
    background-color: rgba(0,0,0,0.8);
    text-align: center;
    color: #fff;
}
#form-signup input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    padding-right: 20px;
}

#form-signup select {
    padding-left: 20px;
    -webkit-appearance: none;
}
#form-signup button[type="submit"] {
    width: 100%;
    height: 50px;
    border-radius: 40px;
    border: none;
}

#background {
    background-size: 25px 130vh;
    background-image: radial-gradient(farthest-side at left, transparent 24px, #d3d3d3 1px, transparent 25px);
    background-position-y: -15vh;
}

#container-week {
    height: 50px;
    border-bottom: 1.5px solid #d3d3d3;
}
#week {
    align-self: center;
    margin: 0 auto;
    padding: 10px;
}

#week.today {
    border-radius: 20px;
    background-color: #F7F2C6;
}

#container-search, #container-search-result {
    height: calc(100vh - 150px);
}

#background-search {
    position: absolute;
    font-size: 130px;
}

#form-search {
    width: 100%;
    text-align: center;
}

#form-search input {
    background-color: transparent;
    font-size: 1.2rem;
}

#form-search-result {
    width: 100%;
}

#input-search{
    height: 40px;
    width: 90%;
    border: none;
    border-bottom: 1px solid black;
}

#input-add {
    position: absolute;
    right: 0px;
    top: 70px;
    border: none;
    background: none;
    width: 200px;
    font-size: 100px;
}

#container-footer {
    height: 80px;
    border-top: 1.5px solid #d3d3d3;
}

#container-circle {
    width: 100%;
    height: 40px;
}

#circle-1 {
    background-color: #F9EDB7;
}
#circle-2 {
    background-color: #5856D6;
}
#circle-3 {
    background-color: #d3d3d3
}
#circle-4 {
    background-color: #013220;
}

a {
    text-decoration: none;
    color: #000;
}

table {
    padding: 60px;
    width: 100%;
    background-color: #fff;
}

td,th {
    border-bottom: 1px solid #444444;
    padding: 10px;
    text-align: center;
}

input:focus {
    outline: none;
}
textarea:focus {
    outline: none;
}

.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}

.justify-content-between {
    justify-content: space-between;
}

.margin-center {
    margin: 0 auto;
}

.margin-auto {
    margin: auto;
}

.align-self-center{
    align-self: center;
}

.circle {
    border-radius: 200px;
    padding: 20px;
}

.zindex-0 {
    z-index: 0;
}

.zindex-1 {
    z-index: 1;
}

.position-fixed {
    position: fixed;
    top: 0;
    left: 0;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.font-100 {
    font-size: 100px;
}

.justify-content-center {
    justify-content: center;
}