{% extends "layout.html" %}
{% block content %}
<body id="background">
    <div class="nav">
        <a href="{% url 'index' %}">home</a>
    </div>
    <div id="container-week" class="flex-row justify-content-between">
        {% for month, day, day_string in month_day_list %}
           <a href="/dmgcapp/calculator/{{ day_string }}" id="week">{{ month }}.{{ day }}</a>
        {% endfor %}
    </div>
    <div class="flex-column">
        <form method="post">
        {% csrf_token %}
            <input id="input-delete" type="submit" value="삭제"><br/>
            <table id="table-search-result">
                <tr>
                    <th></th>
                    <th>식품명</th>
                    <th>칼로리</th>
                    <th>탄수화물</th>
                    <th>당류</th>
                    <th>단백질</th>
                    <th>지방</th>
                    <th>포화지방</th>
                </tr>
                <tr id="tr-sum">
                    <td></td>
                    <td></td>
                    <td>{{ today_calories }}</td>
                    <td>{{ today_carb }}</td>
                    <td></td>
                    <td>{{ today_prot }}</td>
                    <td>{{ today_fat }}</td>
                    <td></td>
                </tr>
                {% for calories, food_name, carb, prot, fat, food_code, year, month, day in parsed_food_info_list %}
                <tr>
                    <td>
                        <input type="checkbox" name="nutr" value="{{ food_code }}">
                    </td>
                    <td>{{ food_name }}</td>
                    <td>{{ calories }}</td>
                    <td>{{ carb }}</td>
                    <td></td>
                    <td>{{ prot }}</td>
                    <td>{{ fat }}</td>
                    <td></td>
{#                    음식 코드: {{ food_code }}<br>#}
{#                    담은 날짜: {{ year }}년 {{ month }}월 {{ day }}일#}
                </tr>
                {% endfor %}
            </table>
        </form>
    </div>
</div>

</body>
{% endblock content %}