<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>계산기</title>
</head>
<body>
Here is Calculator Page.<br>
<p>

</p>
<a href="{% url 'index' %}">home</a>
<a href="/dmgcapp/search/{{ today_string }}">search</a>
<div>
    {% for month, day, day_string in month_day_list %}
        <span><a href="/dmgcapp/calculator/{{ day_string }}">{{ month }}월 {{ day }}일 </a>|</span>
    {% endfor %}
</div>
<hr>
담은 칼로리: {{ today_calories }}kcal<br>
담은 탄수화물: {{ today_carb }}g<br>
담은 단백질: {{ today_prot }}g<br>
담은 지방: {{ today_fat }}g<br>
<hr>
<div>
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="삭제"><br>
        {% for calories, food_name, carb, prot, fat, food_code, year, month, day in parsed_food_info_list %}
            <label><input type="checkbox" name="nutr" value="{{ food_code }}">삭제 선택</label><br>
            열량: {{ calories }}kcal<br>
            음식 이름: {{ food_name }}<br>
            탄수화물: {{ carb }}g<br>
            단백질: {{ prot }}g<br>
            지방: {{ fat }}g<br>
            음식 코드: {{ food_code }}<br>
            담은 날짜: {{ year }}년 {{ month }}월 {{ day }}일
            <hr>
        {% endfor %}
    </form>

</div>

</body>
</html>