
{% extends "layout.html" %}
{% block content %}

<body class="background-blur-image">
    <div class="background-image position-fixed"></div>
    <div class="nav">
        <a href="{% url 'index' %}">home</a>
        <a href="{% url 'login' %}">login</a>
    </div>

    <div class="w-50 margin-center">
        {% if messages %}
            {% for message in messages %}
                {{ message.tags }}! {{ message.message }}
            {% endfor %}
        {% endif %}
        <form method="POST" id="form-signup">
            {% csrf_token %}
            <div>
                <label for="nickname">이름</label><br>
                <input type="text" name="nickname" id="nickname" required>
            </div>
            <div>
                <label for="username">아이디</label><br>
                <input type="text" name="username" id="username" required>
            </div>
            <div>
                <label for="password1">비밀번호</label><br>
                <input type="password" name="password1" id="password1" required>
            </div>
            <div>
                <label for="password2">비밀번호 확인</label><br>
                <input type="password" name="password2" id="password2" required>
            </div>
            <div>
                <label for="email">이메일</label><br>
                <input type="email" name="email" id="email" required>
            </div>
            <div>
                <label for="goalCalories">일일 목표 칼로리</label><br>
                <input type="text" name="goalCalories" id="goalCalories">
            </div>
            <div>
                <label for="goalCaloriesRatio">일일 목표 탄/단/지 비율</label><br>
                <input type="text" name="goalCaloriesRatio" id="goalCaloriesRatio" placeholder="ex) 60:20:20">
            </div>
            <div>
                <label for="height">키</label><br>
                <input type="text" name="height" id="height">
            </div>
            <div>
                <label for="weight">체중</label><br>
                <input type="text" name="weight" id="weight">
            </div>
            <div>
                <label for="gender">성별</label><br>
                <select name="gender" id="gender">
                    <option value="">성별</option>
                    <option value="male">남자</option>
                    <option value="female">여자</option>
                </select>
            </div>
            <div>
                <label for="birthday">생일</label><br>
                <input type="date" name="birthday" id="birthday">
            </div>
            <div>
                <label for="goalStepCount">목표 걸음 수</label>
                <input type="text" name="goalStepCount" id="goalStepCount">
            </div>
            <button type="submit">가입하기</button>
        </form>
    </div>
</body>
{% endblock content %}